body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

#mainimage {
    display: block;
    height: 70px;
    margin: 20px auto;
}

.form-join {
    max-width: 500px;
    padding: 5px;
    margin: 0 auto;
}

.form-join .form-join-heading,
.form-join .checkbox {
    margin-bottom: 10px;
}

.form-join .checkbox {
    font-weight: normal;
}

.form-join .form-control:focus {
    z-index: 2;
}