@font-face {
    font-family: 'NanumGothic';
    src: url('../font/NanumGothic.woff') format('woff');
}

* {
    font-family: 'NanumGothic' !important;
}

@media (min-width: 768px) {
    .title {
        font-size: 21px;
        text-align: left;
        background: #e7e7e7 !important;
    }
}

html, body{
	height: 100%;
}

.wrapper{
	min-height: 100%;
	height: auto;
	margin: -50px auto -60px;
	padding: 50px 0 60px;
}

.title {
    padding: 0px 15px 15px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    background: #f8f8f8;
    margin-bottom: 10px;
    border-bottom: 1px solid #e7e7e7;
}

.left-list:before, .left-list:after{
	content: ' ';
	clear: both;
}

.left-list{
	display: table;
}

.left-list > *{
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	border-right: 1px solid #aaa;
}

.left-list > *:last-child{
	border-right: none;
}

.table-element-clickable:not(.disabled):hover {
	background-color: #f5f5f5;
	cursor: pointer;
}

.table-element-clickable.disabled{
	color: #cdcdcd;
}

.table-element-clickable.success:hover{
	background-color: #d0e9c6;
}

div.loadingdiv{
	background: rgba(255, 255, 255, 0.8);
	top: 0px;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 2000;
}

@keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }

        @-moz-keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }

        @-webkit-keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }

        @-o-keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }

        @keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }

        @-moz-keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }

        @-webkit-keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }

        @-o-keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }

.loading {
	border: 2px solid transparent;
	border-color: transparent rgba(60, 118, 177, 0.7) transparent rgba(60, 118, 177, 0.7);
	-moz-animation: rotate-loading 1.5s linear 0s infinite normal;
	-moz-transform-origin: 50% 50%;
	-o-animation: rotate-loading 1.5s linear 0s infinite normal;
	-o-transform-origin: 50% 50%;
	-webkit-animation: rotate-loading 1.5s linear 0s infinite normal;
	-webkit-transform-origin: 50% 50%;
	animation: rotate-loading 1.5s linear 0s infinite normal;
	transform-origin: 50% 50%;
}

.loading-container.hidden-xs .loading,
.loading-container.hidden-xs > img{
	height: 50px;
	width: 50px;
	position: absolute;
}

.loading-container.visible-xs .loading,
.loading-container.visible-xs > img{
	width: 80px;
	height: 80px;
	position: absolute;
	left: -50px;
	margin-left: 50%;
}

.loading-container > h2{
	margin: 10px 50px 10px 100px;
	color: #3276b1;
	position: relative;
	right: 0;
}

.loading-container > h3{
	margin-top: 110px;
	color: #3276b1;
	position: relative;
}

.loading-container,
.loading {
	border-radius: 100%;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.loading-container{
	position: relative;
}

.loading-container.hidden-xs{
	margin-top: 200px;
}

.loading-container.visible-xs{
	margin-top: 100px;
}

div.loadingbookinfo{
	position: relative;
	margin-top: 30px;
	text-align: center;
	width: 100%;
}

div.loadingbookinfo img{
	position: relative;
	margin: 0 auto;
	left: 0;
}

.hidden-xs div.loadingbookinfo img{
	width: 200px;
	height: auto;
}

.visible-xs div.loadingbookinfo img{
	height: 150px;
	width: auto;
}

div.loadingbookinfo h4{
	margin-top: 20px;
	color: black;
}

footer{
	height: 110px;
}

div.undermargin{
	height: 50px;
}

div.footer{
	border-color: #e7e7e7;
	border-style: solid;
	border-width: 1px 0px 0px;
	height: auto;
	background: #f8f8f8 !important;
}
